html{
    scroll-behavior: smooth;
}

body{
    background-color:#111213;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

main{
    overflow: scroll;
    height: 94vh;
}

*{
    &::-webkit-scrollbar {
        display: none;
    }
}