body{
    background-color:#111213;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

#desktop {
  overflow: visible;
}

*{
    &::-webkit-scrollbar {
        display: none;
    }
}

#desktop{
    display: none;
}

#mobile{
    display: block;

    .text-block{
        width: 90%;
        margin: 5% auto;
        text-align: justify;

        h2{
            text-align: center;
            color: rgb(63, 174, 255);
        }
    }

    .screen-mobile{
        width: 90%;
        margin: 5% 5%;
        object-fit: contain;
    }

    #newsletter{
        position: unset;
    }
}

@media screen and (min-width: 1024px){

    #desktop{
        display: grid;
    }
    #mobile{
        display: none;
    }
    
}

@media screen and (max-width: 1024px){
    #about{
        height: 80vh !important;
    }  

    #newsletter{
        position: unset;
    }
}