#usecase{
    z-index: 2;
    display: inline-flex;

    .text{
        width: 35%;
        padding: 20px;
    }
}

#screen{
    text-align: center;
}

.screenshot{
    animation-name: fadeIn;
    width: auto;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
from {
    transform: translateY(8vh);
}
to {
    transform: translateY(-1vh);
}
}
  
.mobileScreenContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .contentWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .mobileImage {
    transition: transform 0.3s ease-in-out;
  }
  
  .mobileImage:hover {
    transform: scale(1.1);
  }
  
  .text-block {
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
  }
  