.text-block{
    position: relative;
    width: calc((100% - 600px) / 2);
    top: 35%;

    p{
        text-align: justify;
    }
}

.text-left{
    margin-left: 2vw;
}

.text-right{
    position: fixed;
    right: 3.5vw;
}