.text-block{
    position: relative;
    width: calc((96% - 600px) / 2);
    top: 35%;

    h2{
        color: rgb(63, 174, 255);
    }

    p{
        text-align: justify;
    }
}

.text-left{
    margin-left: 2vw;
}

.text-right{
    position: fixed;
    right: 3.5vw;
}